<main id="content" role="main" class="calc-100vh-footer">

  <div class="u-gradient-half-primary-body-v1">
    <div class="container-fluid u-space-0-top pb-3">
      <div class="row">
        <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
          <div class="mt-5 d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
            <div class="btn btn-outline-light btn-xs transition-3d-hover">Изменить</div>
          </div>
        </div>
        <div class="col-lg-7 order-lg-1">
          <!-- User Info -->
          <div class="media d-block d-sm-flex align-items-sm-center mt-5">
            <div class="u-lg-avatar position-relative mb-sm-0">

              <span class="u-icon u-icon-light--air u-icon--lg rounded-circle">
                <span class="u-icon__inner text-white"><%= @user.name[0,1].upcase %></span>
              </span>

            </div>
            <div class="media-body">
              <h1 class="h3 font-weight-medium mb-1 text-white"><%= @user.name %></h1>
              <span class="d-block text-white"><%= @user.email %></span>
            </div>
          </div>
          <!-- End User Info -->
        </div>
      </div>
    </div>
  </div>

  <div class="u-bg-light">
    <div class="container-fluid pt-3 u-space-2-bottom">
      <!-- Projects -->
      <%  @user.projects.each do |project| %>
        <%= link_to project, class: 'list-group-item list-group-item-action justify-content-between d-flex w-100' do %>
          <div class="small"><%= project.title %></div>
          <div class="small"><span class="fas fa-tasks u-sidebar--account__list-icon mr-2"></span><%= project.todos.count %></div>
        <% end %>
      <% end %>
      <!-- End Projects -->
    </div>
  </div>
</main>