<main id="content" role="main" class="calc-100vh-footer">

  <div class="u-gradient-half-primary-body-v1">
    <div class="container u-space-2-top pb-3">
      <div class="row">
        <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
          <div class="mt-5 d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
            <div class="btn btn-outline-light btn-xs transition-3d-hover">Изменить</div>
          </div>
        </div>
        <div class="col-lg-7 order-lg-1">
          <!-- User Info -->
          <div class="media d-block d-sm-flex align-items-sm-center mt-5">
            <div class="u-lg-avatar position-relative mb-sm-0">

              <span class="u-icon u-icon-light--air u-icon--lg rounded-circle">
                <span class="u-icon__inner text-white"><%= @user.name[0,1].upcase %></span>
              </span>

            </div>
            <div class="media-body">
              <h1 class="h3 font-weight-medium mb-1 text-white"><%= @user.name %></h1>
              <span class="d-block text-white"><%= @user.email %></span>
            </div>
          </div>
          <!-- End User Info -->
        </div>
      </div>
    </div>
  </div>

  <div class="u-bg-light-blue-50">
    <div class="container pt-3 u-space-2-bottom">
      <!-- Nav -->
      <div class="u-tab u-tab--md mb-md-4">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-5 order-md-2 text-md-right">
            <!-- Select -->
            <select class="js-select u-select" data-width="fit" data-style="bg-transparent text-secondary font-size-14 font-weight-normal pl-0">
              <option value="taskSelect1" title="View" selected>Completed tasks</option>
              <option value="taskSelect2">Incomplete tasks</option>
              <option value="taskSelect3">All tasks</option>
            </select>
            <!-- End Select -->

            <!-- Select -->
            <select class="js-select u-select" data-width="fit" data-style="bg-transparent text-secondary font-size-14 font-weight-normal">
              <option value="sortSelect1" title="Sort" selected>None</option>
              <option value="sortSelect2">Project</option>
              <option value="sortSelect3">Due date</option>
              <option value="sortSelect4">Likes</option>
            </select>
            <!-- End Select -->
          </div>

          <div class="col-md-7 order-md-1">
            <!-- Nav Pills -->
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item u-tab__nav-item">
                <a class="nav-link u-tab__nav-link active" id="pills-one-tab" data-toggle="pill" href="#pills-one" role="tab" aria-controls="pills-one" aria-selected="true">Обзор</a>
              </li>
              <li class="nav-item u-tab__nav-item">
                <a class="nav-link u-tab__nav-link" id="pills-two-tab" data-toggle="pill" href="#pills-two" role="tab" aria-controls="pills-two" aria-selected="false">Проекты <span class=" u-badge u-badge-primary rounded-circle"><%= @user.projects.count %></span></a>
              </li>
              <li class="nav-item u-tab__nav-item">
                <a class="nav-link u-tab__nav-link" id="pills-three-tab" data-toggle="pill" href="#pills-three" role="tab" aria-controls="pills-three" aria-selected="false">Прогресс</a>
              </li>
              <li class="nav-item u-tab__nav-item">
                <a class="nav-link u-tab__nav-link" id="pills-four-tab" data-toggle="pill" href="#pills-four" role="tab" aria-controls="pills-four" aria-selected="false">Документы</a>
              </li>
            </ul>
            <!-- End Nav Pills -->
          </div>
        </div>
      </div>
      <!-- End Nav -->

      <!-- Nav Content -->
      <div class="tab-content" id="pills-tabContent">
        <!-- Content One -->
        <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">

        </div>
        <!-- End Content One -->

        <!-- Content Two -->
        <div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
          <!-- Projects -->
          <div class="card-deck d-block ">
            <% @user.projects.each do |project| %>
              <div class="card u-info-v2 mb-3">
                <div class="card-body p-4">
                  <div class="media align-items-center">
                    <span class="u-icon u-icon-primary--air u-icon--md rounded-circle mr-3">
                      <span class="u-icon__inner"><%= project.title[0,2].upcase %></span>
                    </span>
                    <div class="media-body">
                      <span class="text-dark"><%= link_to project.title, project %></span>
                      <small class="d-block text-secondary"><%= project.description %></small>
                    </div>
                    <div class="media-body text-right">
                      <!-- Settings Dropdown -->
                      <div class="position-relative">
                        <a id="referralsSettingsDropdownInvoker-<%= project.id %>" class="u-icon u-icon--air u-icon--sm u-bg-transparent" href="javascript:;" role="button"
                           aria-controls="referralsSettingsDropdown-<%= project.id %>"
                           aria-haspopup="true"
                           aria-expanded="false"
                           data-unfold-event="click"
                           data-unfold-target="#referralsSettingsDropdown-<%= project.id %>"
                           data-unfold-type="css-animation"
                           data-unfold-duration="300"
                           data-unfold-delay="300"
                           data-unfold-hide-on-scroll="true"
                           data-unfold-animation-in="slideInUp"
                           data-unfold-animation-out="fadeOut">
                          <span class="fa fa-ellipsis-h u-icon__inner"></span>
                        </a>

                        <div id="referralsSettingsDropdown-<%= project.id %>" class="u-unfold right-0 text-left mt-2" aria-labelledby="referralsSettingsDropdownInvoker-<%= project.id %>" style="min-width: 190px;">
                          <%= link_to 'Удалить', project_path(project.id, project), 'data-method' => :delete, class: "u-list__link" %>
                          <%= link_to 'Редактировать', edit_project_path(project), class: "u-list__link" %>
                        </div>
                      </div>
                      <!-- End Settings Dropdown -->
                      <span class="text-primary ml-3">
                        ₽<%= project.budget %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <!-- End Projects -->
        </div>
        <!-- End Content Two -->

        <!-- Content Three -->
        <div class="tab-pane fade" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab">
          <div class="text-center py-4">
            <div class="w-md-80 w-lg-50 text-center mx-auto">
              <img class="w-100 mb-7" src="../include/svg/flat-icons/data-report-flat-concept-illustration.svg" alt="SVG Illustration">
              <h4 class="h5 font-weight-normal">Весь прогресс и анализ данных к задачам появится здесь.</h4>
            </div>
          </div>
        </div>
        <!-- End Content Three -->

        <!-- Content Four -->
        <div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab">
          <div class="text-center py-4">
            <div class="w-md-80 w-lg-50 text-center mx-auto">
              <img class="w-100 mb-7" src="../include/svg/flat-icons/image-upload-flat-concept-illustration.svg" alt="SVG Illustration">
              <h4 class="h5 font-weight-normal">Все вложения к задачам и разговорам в этом проекте появятся здесь.</h4>
            </div>
          </div>
        </div>
        <!-- End Content Four -->
      </div>
      <!-- End Nav Content -->
    </div>
  </div>
</main>