<main id="content" role="main" class="calc-100vh-footer">
  <div class="u-bg-light-blue-50 calc-100vh-footer">
    <div class="container u-space-3">
      <div class="col-md-8 offset-2">
      <h4 class="mt-3 ml-3">Редактировать проект</h4>
      <div class="card">
        <div class="card-body">
          <%= simple_form_for @project do |f| %>
            <%= f.input :title, label: 'Название проекта' do %>
              <div class="input-group">
                <%= f.input_field :title, class: 'form-control' %>
              </div>
            <% end %>
            <%= f.input :description, label: 'Содержание проекта' do %>
              <div class="input-group">
                <%= f.text_area :description, class: 'form-control' %>
              </div>
            <% end %>
            <%= f.input :budget, label: 'Бюджет проекта' do %>
              <div class="input-group">
                <%= f.input_field :budget, class: 'form-control' %>
              </div>
            <% end %>
            <%= f.input :cost_per_hour, label: 'Стоимость часа' do %>
              <div class="input-group">
                <%= f.input_field :cost_per_hour, class: 'form-control' %>
              </div>
            <% end %>
            <br>

            <%= f.button :submit, class: 'btn-primary btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>