<main id="content" role="main" class="calc-100vh-footer">
  <div class="calc-100vh-footer">
    <div class="shadow-sm pl-5 pr-3 mb-2 pt-2 pb-2 bg-white">
      <div class="font-weight-medium font-size-14 d-flex justify-content-between align-items-center">
        <div>
          Проекты
        </div>
        <div class="d-flex align-items-center">
          <a id="addProjectInvoker" class="u-list__link u-unfold-wrapper pr-3" href="javascript:;" role="button"
             aria-controls="addProject"
             aria-haspopup="true"
             aria-expanded="false"
             data-unfold-event="click"
             data-unfold-hide-on-scroll="false"
             data-unfold-target="#addProject"
             data-unfold-type="css-animation"
             data-unfold-animation-in="fadeInRight"
             data-unfold-animation-out="fadeOutRight"
             data-unfold-duration="500">
                    <span class="position-relative">
                      Новый
                      <span class="pl-2 fa fa-plus-circle text-secondary small opacity-0_2"></span>
                    </span>
          </a>
        </div>
      </div>
    </div>
    <div class="container-fluid u-space-1-bottom u-space-bottom-0--lg">
      <!-- Nav -->
      <div class="row mt-4 mr-1 ml-1 mb-4">
        <div class="col-md-12 order-md-1">
          <%= form_for @search, as: :f, method: :get, url: projects_path, :html => {:class => 'input-group-sm u-form u-form--sm u-form--modern'} do |e| %>
            <%= e.search_field :title, class: 'form-control u-form__input', placeholder: 'Поиск' %>
            <%= link_to 'Дата создания', projects_path(f: @search.sort_params_for(:created_at)), class: @search.sort?(:created_at) && 'u-label u-label--xs u-label--primary active' %>
            <%= e.select :user_id, User.all.map { |u| [u.name, u.id] }, { :include_blank => 'Все проекты' }, {class: 'js-select u-select', 'data-width' => 'fit', 'data-style' => 'bg-transparent text-secondary font-size-14 font-weight-normal pl-0', onchange: 'this.form.submit()'} %>
          <% end %>
        </div>
      </div>
      <!-- End Nav -->

      <% if @search.results? %>
        <ul class="list-group shadow-sm">
            <%= render 'projects/project' %>
        </ul>
        <% else %>
        <div class="alert alert-primary alert-dismissible fade show pt-8 mt-8 mb-8 pb-8" role="alert">
          К сожалению проектов не найдено
        </div>
      <% end %>
    </div>
  </div>
</main>
<%= simple_form_for @project, remote: true do |f| %>
<aside id="addProject" class="u-sidebar w-75 u-unfold--css-animation u-unfold--hidden" aria-labelledby="addProjectInvoker">
  <div class="u-sidebar__scroller">
    <div class="u-sidebar__container">
      <div class="u-sidebar--account__footer-offset">
        <div class="d-flex justify-content-between align-items-center pt-4 px-7">
          <h3 class="h6 mb-0"><%= f.input :title, label: false do %>
              <div class="input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= f.input_field :title, hint: false, placeholder: 'Название проекта', class: 'form-control u-form__input u-no__focus u-no__border-color u-no__image' %>
              </div>
            <% end %></h3>
          <button type="button" class="close ml-auto"
                  aria-controls="addProject"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-unfold-event="click"
                  data-unfold-hide-on-scroll="false"
                  data-unfold-target="#addProject"
                  data-unfold-type="css-animation"
                  data-unfold-animation-in="fadeInRight"
                  data-unfold-animation-out="fadeOutRight"
                  data-unfold-duration="500">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="js-scrollbar u-sidebar__body">
          <div class="u-sidebar__content--account  mr-0 ml-0">
              <div class="u-space-1-bottom mt-1">
                <div class="row">
                  <div class="col-md-3 pr-2">
                        <div class="form-group u-no__bordered">
                          <label class="form-control-label">Предпологаемый бюджет</label>
                          <%= f.input :budget, label: false %>
                        </div>
                        <div class="form-group u-no__bordered">
                          <label class="form-control-label">Стоимость часа</label>
                          <%= f.input :cost_per_hour, label: false %>
                        </div>
                        <div class="form-group u-no__bordered">
                          <label class="form-control-label">Компания</label>
                          <%= f.association :contractor, label_method: :title, class: 'form-control form-control-sm u-no__focus u-no__border-color u-no__image', label: false, include_blank: false %>
                        </div>
                        <div class="form-group u-no__bordered">
                          <label class="form-control-label">Владелец</label>
                          <%= f.association :user, label_method: :email, label: false, include_blank: false %>
                        </div>
                  </div>
                  <div class="col-md-9">
                        <%= f.input :discription, label: 'Содержание' do %>
                          <div class="input-group input-group-sm u-form u-form--sm u-form--modern u-summernote-editor">
                            <%= f.text_area :description, class: 'form-control u-form__input js-summernote-editor' %>
                          </div>
                        <% end %>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <footer class="u-sidebar__footer u-sidebar__footer--account">
        <div class="position-absolute-bottom-0">
          <div class="p-3 ml-5">
          <%= f.button :submit,'Сохранить',  class: 'btn btn-success btn-xs' %>
          </div>
        </div>
      </footer>
    </div>
  </div>
</aside>
<% end %>