<main id="content" role="main" class="calc-100vh-footer">
  <div id="SVGheroSectionBg" class="u-bg-light-blue-50  calc-100vh-footer  position-relative gradient-half-primary-v3">
    <div class="container u-space-3">

      <!-- Nav -->
      <div class="row justify-content-between align-items mb-4">
        <div class="order-md-2 mb-3 mb-md-0">
          <div class="position-relative">
              <ul class="nav">
                <li class="nav-item">
                <%= link_to new_project_path, class: "nav-link font-weight-bold" do %>
                    <span class="u-icon u-icon-success--air u-icon--md rounded-circle mr-2">
                      <span class="u-icon__inner">+</span>
                    </span>
                <% end %>


                </li>
              </ul>
          </div>
        </div>

        <div class="col-md-7 order-md-1">
          <%= form_for @search, as: :f, method: :get, url: projects_path, :html => {:class => 'input-group-sm u-form u-form--sm u-form--modern'} do |e| %>
            <%= e.search_field :title, class: 'form-control u-form__input', placeholder: 'Поиск' %>
            <%= link_to 'Дата создания', projects_path(f: @search.sort_params_for(:created_at)), class: @search.sort?(:created_at) && 'u-label u-label--xs u-label--primary active' %>
            <%= e.select :user_id, User.all.map { |u| [u.name, u.id] }, { :include_blank => 'Все проекты' }, {class: 'js-select u-select', 'data-width' => 'fit', 'data-style' => 'bg-transparent text-secondary font-size-14 font-weight-normal pl-0', onchange: 'this.form.submit()'} %>
          <% end %>
        </div>
      </div>
      <!-- End Nav -->

      <% if @search.results? %>
        <div class="row card-deck d-block ">
            <%= render 'projects/project' %>
        </div>
        <% else %>
        <div class="alert alert-primary alert-dismissible fade show pt-8 mt-8 mb-8 pb-8" role="alert">
          К сожалению проектов не найдено
        </div>
      <% end %>

    </div>
  </div>
</main>