<main id="content" role="main" class="calc-100vh-footer">
  <div class="u-bg-light-blue-50 calc-100vh-footer">
    <%= simple_form_for @project, url: projects_url, method: :post do |f| %>
      <div class="shadow-sm pl-3 pr-3 mb-2 pt-1 pb-1 bg-white">
        <div class="font-weight-medium font-size-14 d-flex justify-content-between align-items-center">
          <%= link_to projects_path, class: "nav-link" do %>
            <span class="fa fa-angle-left pr-2" aria-hidden="true"></span>
            Назад
          <% end %>
          <div class="justify-content-xl-end">
            <%= f.button :submit,'Сохранить',  class: 'u-list__link u-unfold-wrapper' %>
          </div>
        </div>
      </div>
      <div class="container-fluid u-space-1-bottom mt-1">
        <div class="row">
          <div class="col-md-3 pr-1">
            <div class="bg-white">
              <div class="card-body">
                <div class="form-group u-no__bordered">
                  <label class="form-control-label">Предпологаемый бюджет</label>
                  <%= f.input :budget, label: false %>
                </div>

                <div class="form-group u-no__bordered">
                  <label class="form-control-label">Стоимость часа</label>
                  <%= f.input :cost_per_hour, label: false %>
                </div>

                <div class="form-group u-no__bordered">
                  <label class="form-control-label">Компания</label>
                  <%= f.association :contractor, label_method: :title, class: 'form-control form-control-sm u-no__focus u-no__border-color u-no__image', label: false, include_blank: false %>
                </div>

                <div class="form-group u-no__bordered">
                  <label class="form-control-label">Владелец</label>
                  <%= f.association :user, label_method: :email, label: false, include_blank: false %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9 pl-0">
            <div class="bg-white">
              <div class="card-body">

                <%= f.input :title, label: false do %>
                  <div class="input-group input-group-sm u-form u-form--sm u-form--modern">
                    <%= f.input_field :title, hint: false, placeholder: 'Название проекта', class: 'form-control u-form__input u-no__focus u-no__border-color u-no__image' %>
                  </div>
                <% end %>

                <%= f.input :discription, label: 'Содержание' do %>
                  <div class="input-group input-group-sm u-form u-form--sm u-form--modern u-summernote-editor">
                    <%= f.text_area :description, class: 'form-control u-form__input js-summernote-editor' %>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>