<main id="content" role="main" class="calc-100vh-footer">
  <div class="u-bg-light-blue-50 calc-100vh-footer">
    <div class="container pt-1 u-space-1-bottom">
      <div class="bg-white pl-4 pr-4 pt-3 pb-3">
        <div class="row align-items-center">
          <div class="col-2 u-ver-divider">
            <span class="font-weight-medium font-size-14">
              <%= link_to "#{ @project.title }", edit_project_url, method: :get , class: 'u-list__link' %>
            </span>
          </div>
          <div class="col-2 u-ver-divider">
            <label class="d-block small text-muted mb-0">Факт бюджет:</label>
            <span class="font-weight-medium font-size-13"> <%= payment_summ %> / <%= @project.budget %> руб.</span>
          </div>
          <div class="col-2 u-ver-divider">
            <label class="d-block small text-muted mb-0">Расход, руб:</label>
            <span class="font-weight-medium font-size-13"><%= rel_cost %> / <%= cost_project_todo %> руб.</span>
          </div>
          <div class="col-2 u-ver-divider">
            <label class="d-block small text-muted mb-0">Расход, час:</label>
            <span class="font-weight-medium font-size-13"><%= time_to_complete_summ %> ч. / <%= time_spent_summ %> ч.</span>
          </div>
          <div class="col-2 u-ver-divider">
            <label class="d-block small text-muted mb-0">Ближайшая оплата:</label>
            <span class="font-weight-medium font-size-13"><%= the_nearest_pay %> / <%= the_nearest_pay_summ %> руб.</span>
          </div>
          <div class="col-2">
            <div class="position-relative">
              <a id="dropdownBasicExampleInvoker" class="u-unfold-wrapper mr-3 float-right" href="javascript:;" role="button"
                 aria-controls="dropdownBasicExample"
                 aria-haspopup="true"
                 aria-expanded="true"
                 data-unfold-event="hover"
                 data-unfold-target="#dropdownBasicExample"
                 data-unfold-type="css-animation"
                 data-unfold-duration="300"
                 data-unfold-delay="300"
                 data-unfold-hide-on-scroll="true"
                 data-unfold-animation-in="slideInUp"
                 data-unfold-animation-out="fadeOut">
                Выполнить
                <span class="ml-2 fa fa-ellipsis-v"></span>
              </a>

              <div id="dropdownBasicExample" class="u-unfold mt-2" aria-labelledby="dropdownBasicExampleInvoker">
                <%= link_to 'Добавить дело', new_project_todo_path(@project), class: "u-list__link" %>
                <%= link_to 'Добавить счет', new_project_payment_path(@project), class: "u-list__link" %>
                <%= link_to "Экспорт в CSV", project_todos_url(@project, format: "csv"), class: "u-list__link" %>
                <hr>
                <%= link_to 'Изменить', edit_project_url, method: :get , class: 'u-list__link' %>
                <a class="u-list__link" href="#">Удалить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white p-4 mt-1">
        <!-- Nav -->
        <div class="row justify-content-between align-items mb-4">
          <div class="col-md-7 order-md-1">
            <!-- Nav Pills -->
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-one-tab" data-toggle="pill" href="#pills-one" role="tab" aria-controls="pills-one" aria-selected="true">Дела</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-two-tab" data-toggle="pill" href="#pills-two" role="tab" aria-controls="pills-two" aria-selected="false">Календарь</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-three-tab" data-toggle="pill" href="#pills-three" role="tab" aria-controls="pills-three" aria-selected="false">Прогресс</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-four-tab" data-toggle="pill" href="#pills-four" role="tab" aria-controls="pills-four" aria-selected="false">Файлы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-five-tab" data-toggle="pill" href="#pills-five" role="tab" aria-controls="pills-five" aria-selected="false">Счета</a>
              </li>
            </ul>
            <!-- End Nav Pills -->
          </div>
        </div>
        <!-- End Nav -->

        <!-- Nav Content -->
        <div class="tab-content" id="pills-tabContent">
          <!-- Content One -->
          <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
            <!-- Transaction Table -->
            <div class="table-responsive-md u-datatable">
              <table id="dt-todo-list" class="js-datatable table table-borderless u-datatable__striped u-datatable__content">
                <thead>
                <tr class="text-uppercase font-size-14">
                  <th scope="col" class="font-weight-medium">
                    <div class="d-flex justify-content-between align-items-center">
                      Дело
                    </div>
                  </th>
                  <th scope="col" class="font-weight-medium">
                    <div class="d-flex justify-content-between align-items-center">
                      Исполнитель
                    </div>
                  </th>
                  <th scope="col" class="font-weight-medium">
                    <div class="d-flex justify-content-between align-items-center">
                      Приоритет
                    </div>
                  </th>
                  <th scope="col" class="font-weight-medium">
                    <div class="d-flex justify-content-between align-items-center">
                      Дедлайн
                    </div>
                  </th>
                  <th scope="col" class="font-weight-medium">
                    <div class="d-flex justify-content-between align-items-center">
                      Статус
                    </div>
                  </th>
                  <th scope="col" class="font-weight-medium">
                    <div class="d-flex justify-content-between align-items-center">
                      Действия
                    </div>
                  </th>
                </tr>
                </thead>

                <tbody class="font-size-14">
                <% @todo.each do |todo| %>
                  <tr>

                    <td class="align-middle font-weight-normal">
                      <%= link_to project_todo_path(todo.project_id, todo) do %>
                        <%= todo.title %>
                      <% end %>
                    </td>

                    <td class="align-middle">
                      <%= link_to user_path(todo.user_id) do %>
                        <%= todo.user.name %>
                      <% end %>
                    </td>

                    <% if todo.priority == 0 %>
                      <td class="align-middle text-warning">
                        <span class="fas fa-arrow-up mr-1"></span>
                        Средний
                      </td>
                    <% elsif todo.priority == 1 %>
                      <td class="align-middle text-danger">
                        <span class="fa fa-arrow-up mr-1"></span>
                        Высокий
                      </td>
                    <% else todo.priority == 2 %>
                      <td class="align-middle text-success">
                        <span class="fas fa-arrow-down mr-1"></span>
                        Низкий
                      </td>
                    <% end %>

                    <td class="align-middle">
                      <% if todo.deadline.blank?  %>
                          Без крайнего срока
                        <% else %>
                          <%= Russian::strftime(todo.deadline,'%e %b %Y') %>
                      <% end %>
                    </td>

                    <td class="align-middle">
                      <span class="fa fa-circle text-primary small mr-1"></span>
                      In progress
                    </td>

                    <td class="align-middle">
                      <%= link_to 'Удалить', project_todo_path(todo.project_id, todo), method: :delete %>
                    </td>

                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <!-- End Transaction Table -->
          </div>
          <!-- End Content One -->

          <!-- Content Two -->
          <div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
            <div class="text-center py-4">
              <div class="w-md-80 w-lg-50 text-center mx-auto">
                <img class="w-50 mb-7" src="../../include/svg/flat-icons/events-flat-concept-illustration.svg" alt="SVG Illustration">
                <h4 class="h5 font-weight-normal">All due dates to tasks &amp; other notes in this project will appear here.</h4>
              </div>
            </div>
          </div>
          <!-- End Content Two -->

          <!-- Content Three -->
          <div class="tab-pane fade" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab">

            <% if cost_project_todo != 0 %>

            <div class="card">
              <div class="card-body">
                <p class="font-weight-light ml-2">Себистоимость <%= cost_project_todo %> руб.</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow= "75" aria-valuemin="0" aria-valuemax="100" style="width: <%= cost_project_todo_complete %>%"></div>
                </div>
              </div>
            </div>
            <% else %>
            <div class="text-center py-4">
              <div class="w-md-80 w-lg-50 text-center mx-auto">
                <img class="w-50 mb-7" src="../../include/svg/flat-icons/data-report-flat-concept-illustration.svg" alt="SVG Illustration">
                <h4 class="h5 font-weight-normal">All progress, data analysis to tasks in this project will appear here.</h4>
              </div>
            </div>
              <% end %>
          </div>
          <!-- End Content Three -->

          <!-- Content Four -->
          <div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab">
            <div class="text-center py-4">
              <div class="w-md-80 w-lg-50 text-center mx-auto">
                <!-- File Attachment Input -->
                <label class="file-attachment-input py-7" for="floorplanAttachmentInput">
                  <span class="d-block mb-2">Upload floorplan</span>
                  <small class="d-block text-muted">Maximum file size is 1MB</small>
                  <input id="floorplanAttachmentInput" name="images-attachment" type="file" class="js-custom-file-attach file-attachment-input__label"
                         data-result-text-target="#floorplanFileUploadText">
                  <span id="floorplanFileUploadText"></span>
                </label>
                <!-- End File Attachment Input -->
              </div>
            </div>
          </div>
          <!-- End Content Four -->

          <!-- Content Four -->
          <div class="tab-pane fade" id="pills-five" role="tabpanel" aria-labelledby="pills-five-tab">
                <!-- Transaction Table -->
                <div class="table-responsive-md u-datatable">
                  <table id="dt-todo-list" class="js-datatable table table-borderless u-datatable__striped u-datatable__content">
                    <thead>
                    <tr class="text-uppercase font-size-14">
                      <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                          Номер
                        </div>
                      </th>
                      <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                          Основание
                        </div>
                      </th>
                      <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                          Сумма
                        </div>
                      </th>
                      <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                          Контрагент
                        </div>
                      </th>
                      <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                          План
                        </div>
                      </th>
                      <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                          Факт
                        </div>
                      </th>
                      <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                          Ответственный
                        </div>
                      </th>
                      <th scope="col" class="font-weight-medium">
                        <div class="d-flex justify-content-between align-items-center">
                          Действия
                        </div>
                      </th>
                    </tr>
                    </thead>

                    <tbody class="font-size-14">
                    <% @payment.each do |payment| %>
                      <tr>

                        <td class="align-middle font-weight-normal">
                          <%= link_to project_payment_path(payment.project_id, payment) do %>
                            <%= payment.invoice_number %>
                          <% end %>
                        </td>

                        <td class="align-middle">
                          <%= link_to project_payment_path(payment.project_id, payment) do %>
                            <%= payment.invoice_discription.html_safe %>
                          <% end %>
                        </td>

                        <td class="align-middle font-weight-normal">
                          <%= link_to project_payment_path(payment.project_id, payment) do %>
                            <%= payment.cost %>
                          <% end %>
                        </td>
                        <td class="align-middle">
                          <% if payment.contractor.blank? %>
                          Не указан
                            <% else %>
                              <%= link_to contractor_path(payment.contractor.id) do %>
                                <%= payment.contractor.title %>
                              <% end %>
                            <% end %>
                        </td>

                        <td class="align-middle">
                          <%= payment.try(:plan_date_payment).try(:strftime, ("%d/%m/%y")) %>
                        </td>

                        <td class="align-middle">
                          <%= payment.try(:rel_date_payment).try(:strftime, ("%d/%m/%y")) %>
                        </td>

                        <td class="align-middle">
                          <%= link_to user_path(payment.user_id) do %>
                            <%= payment.user.name %>
                          <% end %>
                        </td>

                        <td class="align-middle">
                          <%= link_to 'Удалить', project_payment_path(payment.project_id, payment), method: :delete %>
                        </td>

                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
                <!-- End Transaction Table -->
              </div>
          <!-- End Content Four -->
        </div>
        <!-- End Nav Content -->
      </div>
    </div>
  </div>
</main>
