<main id="content" role="main">
  <div class="u-bg-light-blue-50">
    <div class="container u-space-3">
      <%= flash_massages if show_layout_flash?%>
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight"><strong><%= @project.title %></strong></div>
        <div class="p-2 bd-highlight"><p class="badge badge-primary"><%= @project.created_at.strftime("%d %b %Y") %></p></div>
        <div class="p-2 bd-highlight"><p class="badge badge-dark">Последняя задача</p></div>
      </div>
      <div class="card">
        <div class="card-body">
            <div class="d-flex bd-highlight">
              <div class="p-2 flex-grow-1 bd-highlight">
                <strong>Бюджет</strong> <%= cost_project_todo_budjet %> руб.
              </div>
              <div class="p-2 bd-highlight">
                <%= link_to 'Изменить', edit_project_path %>
              </div>
            </div>
          <br>
          <p class="font-weight-light ml-2">Себистоимость <%= cost_project_todo %> руб.</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow= "75" aria-valuemin="0" aria-valuemax="100" style="width: <%= cost_project_todo_complete %>%"></div>
          </div>
        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-body">
          <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
              <strong>Задачи</strong>
            </div>
            <div class="p-2 bd-highlight">
              <div class="btn-group btn-group-xs" role="group">
                <%= link_to "Скачать CSV", project_todos_url(@project, format: "csv"), class: "btn btn-xs btn-outline-primary u-btn-primary" %>
                <%= link_to 'Добавить', new_project_todo_path(@project), class: "btn btn-xs btn-outline-primary u-btn-primary" %>
              </div>
            </div>
          </div>

          <hr>
          <table class="table table-borderless">
            <tbody>
          <% @todo.each do |todo| %>
            <tr>
              <td>
                <%= link_to edit_project_todo_path(todo.project_id, todo) do %>
                  <%= todo.title %>
                <% end %>
              </td>

              <td><%= link_to 'Удалить', project_todo_path(todo.project_id, todo), method: :delete %></td>
            </tr>
          <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</main>
