<ul class="list-group">
  <%  @contractors.each do |contractor| %>
      <%= link_to contractor, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>

      <div class="d-flex w-100 justify-content-between">
        <%= contractor.title %>
        <small class="small text-muted">ИНН <%= contractor.inn %></small>
      </div>
        <% if !contractor.address.blank? %>
          <p class="small mb-1"><%= contractor.address %></p>
        <% end %>
        <% if !contractor.user.name.blank? %>
          <small class="text-muted">Ответственный: <%= contractor.user.name %></small>
        <% end %>
      <% end %>
  <% end %>
</ul>