<main id="content" role="main" class="calc-100vh-footer">
  <div class="u-bg-light-blue-50 calc-100vh-footer">
    <div class="container-fluid u-space-3">
      <div class="col-md-8 offset-2">
      <h4 class="mt-3 ml-3">Редактировать проект</h4>
      <div class="card">
        <div class="card-body">
          <%= simple_form_for @contractor do |f| %>
            <%= f.input :title, label: 'Наименование организации' do %>
              <div class="input-group">
                <%= f.input_field :title, class: 'form-control' %>
              </div>
            <% end %>
            <%= f.input :address, label: 'Адрес' do %>
              <div class="input-group">
                <%= f.input_field :address, class: 'form-control' %>
              </div>
            <% end %>
            <%= f.input :kpp, label: 'КПП' do %>
              <div class="input-group">
                <%= f.input_field :kpp, class: 'form-control' %>
              </div>
            <% end %>
            <%= f.input :inn, label: 'ИНН' do %>
              <div class="input-group">
                <%= f.input_field :inn, class: 'form-control' %>
              </div>
            <% end %>
            <br>
            <div class="form-group u-no__bordered">
              <label class="form-control-label">Ответственный</label>
              <%= f.association :user, label_method: :email, class: 'form-control form-control-sm u-no__focus u-no__border-color u-no__image', label: false, include_blank: false %>
            </div>

            <%= f.button :submit, class: 'btn-primary btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>