<main id="content" role="main" class="calc-100vh-footer">
  <div class="u-bg-light-blue-50 calc-100vh-footer">
    <%= simple_form_for @payment, url: project_payments_url, method: :post do |f| %>
      <div class="container-fluid u-space-2 u-space-1-bottom u-space-bottom-0--lg">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
          <!-- Navbar -->
          <div class="mt-2 u-header u-header--bg-transparent-lg z-index-4">
            <div class="u-header__section ">
              <nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar hs-menu-initialized hs-menu-horizontal">
                <div id="breadcrumbNavBar" class="collapse navbar-collapse py-0">
                  <ul class="navbar-nav w-100 u-header__navbar-nav">
                    <!-- Others -->
                    <li class="nav-item u-header__nav-item">
                      <%= link_to 'Назад', project_path(@set_project), class: "nav-link u-header__nav-link" %>
                    </li>
                    <!-- Others -->
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <!-- End Navbar -->

          <div class="ml-lg-auto mt-2">
            <!-- Button -->
            <%= f.button :submit, class: 'btn-success btn-xs' %>
            <!-- End Button -->
          </div>
        </div>
      </div>
      <div class="container-fluid u-space-1-bottom">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <%= f.input :cost, label: 'Сумма, руб.' do %>
                  <div class="input-group input-group-sm u-form u-form--sm u-form--modern">
                    <%= f.input_field :cost, class: 'form-control u-form__input u-no__focus u-no__border-color u-no__image u-disable' %>
                  </div>
                <% end %>

                <div class="form-group u-no__bordered">
                  <label class="form-control-label">Ответственный</label>
                  <%= f.association :user, label_method: :email, label: false, include_blank: false %>
                </div>

                <div class="form-group u-no__bordered">
                  <label class="form-control-label">Проект</label>
                  <%= f.association :project, label_method: :title, label: false, include_blank: false %>
                </div>

                <div class="form-group u-no__bordered">
                  <label class="form-control-label">Контрагент</label>
                  <%= f.association :contractor, label_method: :title, label: false, include_blank: false %>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card">
              <div class="card-body">

                <%= f.input :invoice_number, label: false do %>
                  <div class="input-group input-group-sm u-form u-form--sm u-form--modern">
                    <%= f.input_field :invoice_number, hint: false, placeholder: 'Номер счета', class: 'form-control u-form__input u-no__focus u-no__border-color u-no__image' %>
                  </div>
                <% end %>

                <%= f.input :invoice_discription, label: 'Основание счета' do %>
                  <div class="input-group input-group-sm u-form u-form--sm u-form--modern u-summernote-editor">
                    <%= f.text_area :invoice_discription, class: 'form-control u-form__input js-summernote-editor' %>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>