<main id="content" role="main" class="calc-100vh-footer">
  <div class="u-bg-light-blue-50 calc-100vh-footer">
    <div class="container-fluid pt-1 u-space-1-bottom u-space-bottom-0--lg">
      <div class="bg-white pl-4 pr-4 pt-3 pb-3">
        <div class="row align-items-center">
          <div class="col-2">
            <%= link_to 'Назад', project_path(@payment.project_id), class: "nav-link u-header__nav-link" %>
          </div>

          <div class="col-10">
            <%= link_to edit_project_payment_path(@set_project), class: 'float-right' do %>
              Изменить
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid u-space-1-bottom mt-1">
      <div class="row">
        <div class="col-md-3 pr-1">
          <div class="bg-white">
            <div class="card-body">

              <span class="small text-secondary">Планируемая дата</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <% if @payment.plan_date_payment.blank?  %>
                  Не запланирована
                <% else %>
                  <%= Russian::strftime(@payment.plan_date_payment,'%e %b %Y') %>
                <% end %>
              </div>

              <span class="small text-secondary">Дата признания</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <% if @payment.rel_date_payment.blank?  %>
                  Не оплачен
                <% else %>
                  <%= Russian::strftime(@payment.rel_date_payment,'%e %b %Y') %>
                <% end %>
              </div>

              <span class="small text-secondary">Сумма</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= @payment.cost %>
              </div>

              <span class="small text-secondary">Ответственный</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= @payment.user.name %>
              </div>

              <span class="small text-secondary">Контрагент</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= @payment.contractor.title %>
              </div>

              <span class="small text-secondary">Проект</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= @payment.project.title %>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-9 pl-0">
          <div class="bg-white">
            <div class="card-body">
              <div>
                <h4><%= @payment.invoice_number %></h4>
              </div>
              <div class="text-left">
                <span class="small text-secondary">Основание</span>
              </div>
              <hr>
              <div class="input-group input-group-sm u-form u-form--sm u-form--modern u-summernote-editor">
                <%= @payment.invoice_discription.html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>