<main id="content" role="main" class="calc-100vh-footer">
  <div class="u-bg-light-blue-50 calc-100vh-footer">
    <%= simple_form_for @todo, url: project_todo_path do |f| %>
      <div class="container pt-1 u-space-1-bottom u-space-bottom-0--lg">
        <div class="bg-white pl-4 pr-4 pt-3 pb-3">
          <div class="row align-items-center">
            <div class="col-2">
              <%= link_to 'Назад', project_path(@todo.project_id), class: "nav-link u-header__nav-link" %>
            </div>

            <div class="col-10 justify-content-xl-end">
              <div class="btn-group-toggle d-inline-block">

                <% if @todo.isCompleted? %>
                    <label class="btn btn-xs btn-outline-primary">
                      <!-- Button -->
                      <%= f.input_field :isCompleted, as: :boolean, checked_value: 1, unchecked_value: 0, class: '' %> Начать выполнение
                      <!-- End Button -->
                    </label>
                    <% else @todo.isCompleted = 0 %>
                    <label class="btn u-btn-text-warning btn-outline-warning btn-xs">
                      <!-- Button -->
                      <%= f.input_field :isCompleted, as: :boolean, checked_value: 1, unchecked_value: 0, class: '' %> Завершить
                      <!-- End Button -->
                    </label>
                  <% end %>



              </div>
              <!-- Button -->
              <%= f.button :submit,'Сохранить',  class: 'btn-success btn-xs' %>
              <!-- End Button -->
            </div>
          </div>
        </div>
      </div>
      <div class="container u-space-1-bottom mt-1">
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="bg-white">
                <div class="card-body">

                  <%= f.input :deadline, label: 'Крайний срок' do %>
                    <div class="input-group input-group-sm u-form u-form--sm u-form--modern">
                      <%= f.input_field :deadline, class: 'form-control u-form__input u-no__focus u-no__border-color u-no__image' %>
                    </div>
                  <% end %>

                  <%= f.input :time_spent, label: 'Выделенное время, ч.' do %>
                    <div class="input-group input-group-sm u-form u-form--sm u-form--modern">
                      <%= f.input_field :time_spent, class: 'form-control u-form__input u-no__focus u-no__border-color u-no__image' %>
                    </div>
                    <% end %>
                  <%= f.input :time_to_complete, label: 'Затраченое время, ч.' do %>
                    <div class="input-group input-group-sm u-form u-form--sm u-form--modern">
                      <%= f.input_field :time_to_complete, class: 'form-control u-form__input u-no__focus u-no__border-color u-no__image' %>
                    </div>
                  <% end %>

                  <div class="form-group u-no__bordered">
                    <label class="form-control-label">Приоритет</label>
                    <%= f.input :priority, collection: [['0', 'Средний'], ['1', 'Высокий'], ['2', 'Низкий']], label_method: :second, value_method: :first, label: false, include_blank: false %>
                  </div>

                    <div class="form-group u-no__bordered">
                      <label class="form-control-label">Ответственный</label>
                      <%= f.association :user, label_method: :email, class: 'form-control form-control-sm u-no__focus u-no__border-color u-no__image', label: false, include_blank: false %>
                    </div>


                </div>
              </div>
            </div>

            <div class="col-md-9 pl-0">
              <div class="bg-white">
                <div class="card-body">

                  <%= f.input :title, label: false do %>
                    <div class="input-group input-group-sm u-form u-form--sm u-form--modern">
                      <%= f.input_field :title, hint: false, class: 'form-control u-form__input u-no__focus u-no__border-color u-no__image' %>
                    </div>
                  <% end %>

                  <%= f.input :discription, label: 'Содержание' do %>
                    <div class="input-group input-group-sm u-form u-form--sm u-form--modern u-summernote-editor">
                      <%= f.text_area :discription, class: 'form-control u-form__input js-summernote-editor' %>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
    <br/>
    <div id='time_div'>
    </div>
  </div>
</main>