<main id="content" role="main" class="calc-100vh-footer">
  <div class="u-bg-light-blue-50 calc-100vh-footer">
    <div class="shadow-sm pl-5 pr-3 mb-2 pt-2 pb-2 bg-white">
      <div class="font-weight-medium font-size-14 d-flex justify-content-between align-items-center">
            <%= link_to project_path(@todo.project_id), method: :get , class: 'u-list__link' do %>
              <span class="fa fa-angle-left pr-2" aria-hidden="true"></span>
              <%= @todo.project.title %>
            <% end %>
            <div class="d-flex align-items-center">
              <%= link_to edit_project_todo_url, method: :get , class: 'u-list__link u-unfold-wrapper pr-4' do %>
                Изменить
              <% end %>
            </div>
          </div>
    </div>
    <div class="container-fluid u-space-1-bottom mt-1">
      <div class="row">
        <div class="col-md-3 pr-1">
          <div class="shadow-sm  mb-2 bg-white rounded">
            <div class="card-body">
              <div class="d-flex justify-content-between m-4">
                <span class="small text-secondary d-flex">Крайний срок</span>
                <div class="small text-secondary">
                  <%= @todo.deadline %>
                </div>
              </div>

              <div class="d-flex justify-content-between m-4">
                <span class="small text-secondary">Выделено</span>
                <div class="small text-secondary">
                  <%= best_in_place @todo, :time_spent, :url => project_todo_path, :as => :input %> ч.
                </div>
              </div>

              <div class="d-flex justify-content-between m-4">
                <span class="small text-secondary">Затрачено</span>
                <div class="small text-secondary">
                  <%= best_in_place @todo, :time_to_complete, :url => project_todo_path, :as => :input %> ч.
                </div>
              </div>

              <div class="d-flex justify-content-between m-4">
                <span class="small text-secondary">Приоритет</span>
                <div class="small">
                  <% if @todo.priority == 0 %>
                    <div class="text-warning">
                      <span class="fas fa-arrow-up mr-1 text-warning"></span>
                      Средний
                    </div>
                  <% elsif @todo.priority == 1 %>
                    <div class="text-danger">
                      <span class="fa fa-arrow-up mr-1 text-danger"></span>
                      Высокий
                    </div>
                  <% else @todo.priority == 2 %>
                    <div class="text-success">
                      <span class="fas fa-arrow-down mr-1 text-success"></span>
                      Низкий
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="d-flex justify-content-between m-4">
                <span class="small text-secondary">Постановщик</span>
                <div class="small text-secondary">
                  <%= @todo.user.name %>
                </div>
              </div>

              <div class="d-flex justify-content-between m-4">
                <span class="small text-secondary">Исплнитель</span>
                <div class="small text-secondary">
                  <% if User.where(id: @todo.implementer).blank? %>
                    Нет исполнителя
                    <% else %>
                    <%= User.find(@todo.implementer).name %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-9 pl-0">
          <div class="shadow-sm  mb-2 bg-white rounded">
            <div class="card-body">
              <div>
                <h4><%= @todo.title %></h4>
              </div>
              <div class="text-left">
                <span class="small text-secondary">Содержание</span>
              </div>
              <hr>
              <div class="input-group input-group-sm u-form u-form--sm u-form--modern u-summernote-editor">
                <%= @todo.discription.html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>