<main id="content" role="main" class="calc-100vh-footer">
  <div class="u-bg-light-blue-50 calc-100vh-footer">
    <div class="container pt-1 u-space-1-bottom u-space-bottom-0--lg">
      <div class="bg-white pl-4 pr-4 pt-3 pb-3">
        <div class="row align-items-center">
          <div class="col-2">
            <%= link_to 'Назад', project_path(@todo.project_id), class: "nav-link u-header__nav-link" %>
          </div>

          <div class="col-10">
            <%= link_to edit_project_todo_path(@set_project), class: 'float-right' do %>
              Редактировать
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container u-space-1-bottom mt-1">
      <div class="row">
        <div class="col-md-3 pr-1">
          <div class="bg-white">
            <div class="card-body">

              <span class="small text-secondary">Крайний срок</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= @todo.deadline %>
              </div>

              <span class="small text-secondary">Выделено</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= @todo.time_spent %> ч.
              </div>

              <span class="small text-secondary">Затрачено</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= @todo.time_to_complete %> ч.
              </div>

              <span class="small text-secondary">Приоритет</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= @todo.priority %>
              </div>

              <span class="small text-secondary">Исполнитель</span>
              <div class="small input-group input-group-sm u-form u-form--sm u-form--modern">
                <%= @todo.user.name %>
              </div>


            </div>
          </div>
        </div>

        <div class="col-md-9 pl-0">
          <div class="bg-white">
            <div class="card-body">
              <div>
                <h4><%= @todo.title %></h4>
              </div>
              <div class="text-left">
                <span class="small text-secondary">Содержание</span>
              </div>
              <hr>
              <div class="input-group input-group-sm u-form u-form--sm u-form--modern u-summernote-editor">
                <%= @todo.discription.html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>