<head>
  <title>Fin tracker</title>
  <%= csrf_meta_tag %>
  <%= csp_meta_tag %>

  <%= render 'application/favicon' %>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/include/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/include/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/include/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/include/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="/include/vendor/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="/include/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/include/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="/include/vendor/summernote/dist/summernote-lite.css">
  <link rel="stylesheet" href="/include/vendor/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="/include/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/include/vendor/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/include/css/front.css">
  <!-- JS Global Compulsory -->

  <script src="/include/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/include/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="/include/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/include/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/include/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/include/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/include/vendor/summernote/dist/summernote-bs4.min.js"></script>
  <script src="/include/vendor/custombox/dist/custombox.min.js"></script>
  <script src="/include/vendor/flatpickr/dist/flatpickr.min.js"></script>
  <script src="/include/vendor/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>

  <!-- JS Front -->
  <script src="/include/js/hs.core.js"></script>
  <script src="/include/js/components/hs.unfold.js"></script>
  <script src="/include/js/components/hs.malihu-scrollbar.js"></script>
  <script src="/include/js/components/hs.summernote-editor.js"></script>
  <script src="/include/js/components/hs.file-attach.js"></script>
  <script src="/include/js/components/hs.show-animation.js"></script>
  <script src="/include/js/components/hs.modal-window.js"></script>
  <script src="/include/js/helpers/hs.focus-state.js"></script>
  <script src="/include/js/components/hs.validation.js"></script>
  <script src="/include/js/components/hs.range-datepicker.js"></script>


</head>