<!DOCTYPE html>
<html lang="ru">

  <!-- ========== HEAD ========== -->
  <%= render 'layouts/head' %>
  <!-- ========== END HEAD ========== -->

  <body class="u-custombox-no-scroll">

    <!-- Skippy -->
    <%= render 'layouts/skippy' %>
    <!-- End Skippy -->

    <!-- ========== HEADER ========== -->
    <%= render 'layouts/header' %>
    <!-- ========== END HEADER ========== -->
      <%= yield %>
    <!-- ========== FOOTER ========== -->
    <%= render 'layouts/footer' %>
    <!-- ========== END FOOTER ========== -->

    <!-- ========== SIDEBAR ========== -->
    <%= render 'layouts/sidebar' %>
    <!-- ========== END SIDEBAR ========== -->
  </body>
</html>
